@media screen and (max-width: 700px) {
  :root {
    font-size: 80%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; }

body {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

.bold {
  text-transform: uppercase;
  font-weight: bold; }

.blue {
  color: #337ab7; }

header {
  position: absolute;
  position: fixed;
  padding: 1.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
  color: #2F2E41;
  height: 4.375rem;
  overflow: hidden;
  z-index: 100000000; }
  header .left_area img {
    width: 4.375rem; }
  header .bar #basket {
    margin-right: 1.25rem; }
  header .bar i {
    font-size: 2.5rem;
    overflow: hidden;
    cursor: pointer; }
    header .bar i:hover {
      opacity: .6; }

#navigation {
  background-color: #2F2E41;
  position: fixed;
  left: 0;
  width: 15.625rem;
  height: 100vh;
  color: #ffff;
  transform: translateX(-250px);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  z-index: 1000000000001; }
  #navigation ul {
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-top: 3.75rem; }
    #navigation ul li {
      line-height: 3.75rem;
      padding-left: 2.5rem;
      transition: .3s; }
      #navigation ul li .prof-img {
        width: 50%; }
        #navigation ul li .prof-img img {
          object-fit: cover;
          -o-object-fit: cover;
          object-position: center;
          -o-object-position: center;
          width: 100%;
          border-radius: 62.4375rem; }
      #navigation ul li a:hover {
        opacity: .6; }
      #navigation ul li a i {
        overflow: hidden;
        font-size: 1.125rem;
        padding-right: 1.25rem; }
  #navigation #img-account {
    overflow: hidden;
    font-size: 6.25rem;
    margin-bottom: 3.125rem; }
  #navigation.active {
    transform: translateX(0); }

.subscribe-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .subscribe-container .sub-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.3125rem;
    margin: 3.125rem 1.25rem 1.25rem 0;
    border: 1px solid #ccc;
    width: calc(40% - 40px);
    text-align: center; }
    @media screen and (max-width: 800px) {
      .subscribe-container .sub-card {
        width: 100%;
        margin: 0; } }
    .subscribe-container .sub-card .sub-title {
      font-size: large; }
    .subscribe-container .sub-card .sub-icon {
      margin: 3.125rem 0; }
      .subscribe-container .sub-card .sub-icon img {
        width: 12.5rem;
        height: 12.5rem; }
    .subscribe-container .sub-card .sub-features ul {
      padding: 0;
      margin: 1.25rem 0 3.125rem 0; }
      .subscribe-container .sub-card .sub-features ul li {
        overflow: hidden;
        margin: 0.625rem 0;
        font-size: 0.875rem; }
        .subscribe-container .sub-card .sub-features ul li span {
          border-bottom: 5px dotted #28C743; }
    .subscribe-container .sub-card .sub-features .sub-btn {
      display: block;
      margin: 1.25rem 0;
      padding: 0 1.25rem;
      border-radius: 0.3125rem;
      box-shadow: rgba(0, 0, 0, 0.9);
      transition: all 200ms ease-in-out;
      text-decoration: none;
      border: none;
      border-radius: 0.3125rem;
      background-color: #FF6584;
      color: white; }
      .subscribe-container .sub-card .sub-features .sub-btn:not(:disabled):hover {
        opacity: .6; }
      .subscribe-container .sub-card .sub-features .sub-btn:disabled {
        display: none; }

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
